# Supabase Configuration (Optional, for Live Database syncing)
SUPABASE_URL="https://pajyzyuxzeayobfrvscx.supabase.co"

SUPABASE_KEY="sb_publishable_Z90rgoFQZkoMe6rNyHPMkQ_Gqo8K7if"

# NASA FIRMS API Key (Optional, for real-time fire extraction)
FIRMS_API_KEY="910fbc470d84a3af89fc3378ed384c2c"

# Gemini API Key (Required, for the AI Chat feature)
GEMINI_API_KEY="AIzaSyB-sWnxVoZ3vLSQrrOgV71bSmuGC3ixNFU"
 